// Imports
@import "./partials/general_styles";
@import "./partials/clearfix";
@import "./partials/reset";

// 1. Many small items in a grid
.small-grid-flexbox {
	ul {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		width: 400px;
		margin: auto;
		li {
			flex: 0 0 10%;
			padding: 10px;
			box-sizing: border-box;
			text-align: center;
		}
	}
}


// 2. 2-Column Grid
.two-col-grid-flexbox {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
	& * {
		flex: 1 0 50%;
		box-sizing: border-box;
	}
	.column-1 {
		order: 2;
	}
}


// 3. Centering
.centering-formula-1, .centering-formula-2{
	display: flex;
	align-items: center;
	justify-content: center;
}


// 4. Ordering
.ordering-block {
	display: flex;
	@include respond-to('medium') {
		.item-a {
			flex-grow: 2;
			order: 4;
		}
		.item-b {
			flex-grow: 3;
			order: 3;
		}
		.item-c {
			flex-grow: 1;
			order: 2;
		}
		.item-d {
			flex-grow: 4;
			order: 1;
		}
	}
}