// Imports
@import "./partials/general_styles";
@import "./partials/clearfix";
@import "./partials/reset";

// 1. Many small items in a grid
.small-grid-flexbox {
	ul {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		width: 400px;
		margin: auto;
		li {
			flex: 0 0 10%;
			padding: 10px;
			box-sizing: border-box;
			text-align: center;
		}
	}
}


// 2. 2-Column Grid



// 3. Centering



// 4. Ordering
